


* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.name {
    height: 60%;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    text-align: right;
    vertical-align: text-bottom;
}

.tag {
    height: 40%;
    font-size: 20px;
    text-align: right;
}
.icon {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.flag {
    width: 50%;
    height: auto;
    margin: 10%;
    border-radius: 100%;
}

.about {
    font-size: 20px;
    align-self: center;
}

body {
    padding: 20px;
}

.row-only {
    width:100%;
    display: flex;
}

.row {
    width: 100%;
    padding: 20px;
    margin-bottom: 18px;
    border-radius: 10px;
    display: flex;
    background-color: #f3f3f3;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    text-align: center;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
